---
import { Image } from "astro:assets";
import { ProductContent } from "./ProductContent";
interface Props {
  product: Product;
}
const { product } = Astro.props;
const image = product.imagen[0];
---

<div class="group relative overflow-hidden rounded-lg border border-white/20">
  <div class="overflow-hidden">
    <Image
      src={image}
      width={413}
      height={413}
      alt={product.nombre}
      class="h-60 w-full object-cover object-top transition-transform group-hover:scale-110"
    />
  </div>
  <div class="p-4 flex flex-col">
    <ProductContent product={product} client:only="react"/>
  </div>
</div>
