---
import { getProducts } from "../utils/api";
import ProductCard from "./ProductCard.astro";
import Subtitle from "./ui/Subtitle.astro";
const products = await getProducts();
---

<section id="products" class="w-full py-12 md:py-24">
  <div class="container mx-auto px-4 md:px-6">
    <div
      class="flex flex-col items-center justify-center space-y-4 text-center"
    >
      <div class="space-y-2">
        <Subtitle>Nuestros Productos</Subtitle>
        <p
          class="max-w-[700px] text-white/50 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
        >
          Explora nuestra selección de ropa para niños y niñas de todas las
          edades
        </p>
      </div>
    </div>
    <div
      class="grid min-[450px]:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-8"
    >
      {products.map((product) => <ProductCard product={product} />)}
    </div>
  </div>
</section>
