---
import { getProducts } from "../utils/api";
import ProductCard from "./ProductCard.astro";
import Subtitle from "./ui/Subtitle.astro";
const products = await getProducts();
---

<section id="products" class="w-full py-12 md:py-24">
  <div class="container mx-auto px-4 md:px-6">
    <div
      class="flex flex-col items-center justify-center space-y-4 text-center"
    >
      <div class="space-y-2">
        <Subtitle>Nuestros Productos</Subtitle>
        <p
          class="max-w-[700px] text-white/50 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
        >
          Explora nuestra selecci칩n de ropa para ni침os y ni침as de todas las
          edades
        </p>
      </div>
    </div>
    <div
      class="grid min-[450px]:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-8"
    >
      {
        [1, 2, 3, 4].map((product) => (
          <ProductCard product={products[product]} />
        ))
      }
    </div>
    <div class="flex justify-center mt-12">
      <button
        onclick="alert('No available');"
        class="bg-blue-600 hover:bg-blue-500 cursor-pointer transition-all px-4 py-2 rounded-3xl flex items-center gap-1"
      >
        <span>Ver m치s</span>
        <div class="translate-y-0.5">
          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </div>
      </button>
    </div>
  </div>
</section>