---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en" style="scrollbar-width: thin; scroll-behavior: smooth;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Bienvenido a Cueritos Kids, en donde encontrarás ropa para niños de alta calidad y excelentes diseños."
    />
    <link rel="icon" type="image/svg+xml" href="/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Cueritos Kids</title>
  </head>
  <body class="bg-[#080808] text-white">
    <Header />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
  }
</style>
